<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>GOD IS LOVE</i> <br /> <i>AND</i> <br /> <i>LOVE NEVER FAILS</i></h2>
            <p><i>1 John 4:8 - He is Love</i> <br /> <i>1 Corinthians 18:8 - He never fails</i></p>
            <div class="da-img">
                <div id="player"></div>
                <script type="text/javascript">
                    //Load player api asynchronously.
                    var tag = document.createElement('script');
                    tag.src = "https://www.youtube.com/iframe_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                    var done = false;
                    var player;
                    function onYouTubeIframeAPIReady() {
                        player = new YT.Player('player', {
                            height: '300',
                            width: '530',
                            videoId: 'vJ07EnXaGos',
                            events: {
                                'onStateChange': onPlayerStateChange
                            },
                            modestbranding: '1'
                        });
                    }

                    function onPlayerStateChange(evt) {

                        if (evt.data == YT.PlayerState.ENDED) {
                            player.seekTo(0);
                            player.stopVideo();
                        }

                    }
                    function stopVideo() {
                        player.stopVideo();
                    }
                </script>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>GOD Justifies, Vivifies,</i> <br /> <i>Saves and</i> <br /> <i>Reconciles ALL</i></h2>
            <p><i>Romans 5:18-19</i><br /><i>1 Corinthians 15:22-28</i> <br /> <i>1 Timothy 4:9-11</i><br /><i>Col 1:20</i></p>
            <div class="da-img">
                <iframe src="//www.youtube.com/embed/rcybMPYRL4I" width="530" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>REST IN</i> <br /> <i>THE FINISHED WORK</i> <br /> <i>OF CHRIST</i></h2>
            <p><i>Stop striving</i> <br /> <i>Rest in Him</i></p>
            <div class="da-img">


            </div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->
<!--=== Content Part ===-->
<div class="container blog-full-width">
    <!--Blog Post-->
    <div class="blog margin-bottom-40">

        <h2><a href="blog_item_option1.html">Unify is an incredibly beautiful and fully responsive Bootstrap 3 Template</a></h2>
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="icon-calendar"></i> February 02, 2013</li>
                <li><i class="icon-pencil"></i> Diana Anderson</li>
                <li><i class="icon-comments"></i> <a href="#">24 Comments</a></li>
                <li><i class="icon-tags"></i> Technology, Education, Internet, Media</li>
            </ul>
        </div>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
        <p><a class="btn-u btn-u-small" href="blog_item_option2.html"><i class="icon-plus-sign"></i> Read More</a></p>
    </div>
    <!--End Blog Post-->
    <!--Blog Post-->
    <div class="blog margin-bottom-40">
        <div class="clearfix"></div>

        <h2><a href="blog_item_option1.html">Template comes with developer friendly and easy to customizable code</a></h2>
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="icon-calendar"></i> February 02, 2013</li>
                <li><i class="icon-pencil"></i> Diana Anderson</li>
                <li><i class="icon-comments"></i> <a href="#">24 Comments</a></li>
                <li><i class="icon-tags"></i> Technology, Education, Internet, Media</li>
            </ul>
        </div>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
        <p><a class="btn-u btn-u-small" href="blog_item_option2.html"><i class="icon-plus-sign"></i> Read More</a></p>
    </div>
    <!--End Blog Post-->
    <!--Blog Post-->
    <div class="blog margin-bottom-20">

        <h2><a href="blog_item_option1.html">Unify Template works on all main web browsers, tablets and phones.</a></h2>
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="icon-calendar"></i> February 02, 2013</li>
                <li><i class="icon-pencil"></i> Diana Anderson</li>
                <li><i class="icon-comments"></i> <a href="#">24 Comments</a></li>
                <li><i class="icon-tags"></i> Technology, Education, Internet, Media</li>
            </ul>
        </div>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
        <p><a class="btn-u btn-u-small" href="blog_item_option2.html"><i class="icon-plus-sign"></i> Read More</a></p>
    </div>
    <!--End Blog Post-->
</div>
<!-- End Content Part -->
